<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <%= form_for([@product, @product_detail]) do |f| %>
        <% if @product_detail.errors.any? %>
            <div id="error_explanation" class="alert alert-danger" role="alert">
                <label>Error:</label>
                <ul>
                    <% @product_detail.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        <h1 class="page-header"><%= name %><%= action == 'edit' ? @product_detail.id.to_s : '' %></h1>
        <div class="row">
            <div class="col-lg-6">
                <%= f.label "Serial" %>
                <%= f.text_field :serial, class: "form-control", :required => true  %>
            </div>
            <div class="col-lg-6">
                <%= f.label "Estado" %>
                <%= render '/product_statuses/list' %>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <%= f.label "Comentario" %>
                <%= f.text_area :comment, class: "form-control"  %>
            </div>
            <div class="col-lg-6"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-5">
                <% if action == 'new' %>
                    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                        &nbsp;&nbsp;Agregar&nbsp;&nbsp;
                    <% end %> 
                <% elsif action == 'edit'  %>
                    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                        &nbsp;&nbsp;Guardar&nbsp;&nbsp;
                <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>