<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <%= bootstrap_flash %>

    <%= form_for(@order) do |f| %>

        <% if @order.errors.any? %>

            <div id="error_explanation" class="alert alert-danger">
                <label><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</label>
                <ul>
                    <% @order.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>

        <% end %>

        <h1 class="page-header"><%= name %><%= @order.id %></h1>
        <div class="row">
            <div class="col-lg-6">

                <%= f.label "Cliente" %>
                <%= f.text_field :customer_search, class: "form-control radius-top", value: '', placeholder: 'Buscar...', readonly: readonly  %>
                <%= select_tag "order[customer_id]", options_from_collection_for_select(@customers, "id", "name"), :include_blank => 'Seleccionar cliente', :required => true, :class => 'form-control radius-bottom' %>

            </div>
            <div class="col-lg-6"></div><!-- /.col-lg-6 -->
        </div>
        <br> <!-- line break -->
        <h1 class="page-header"><small>Productos</small></h1>
        <div id="form-add-product" class="row">
            <div class="col-lg-6">

                <%= f.label "Producto" %>
                <%= f.text_field :product_search, class: "form-control radius-top", value: '', placeholder: 'Buscar...', readonly: readonly  %>
                <%= select_tag "order_detail[product_id]", options_from_collection_for_select(@products, "id", "name"), :include_blank => 'Seleccionar producto', :class => 'form-control radius-bottom' %>

            </div>
            <div class="col-lg-6"></div><!-- /.col-lg-6-->
        </div>
        <br> <!-- line break -->
        <div class="row">
            <div id="product_details_box" class="col-lg-12"></div>
        </div>
        <br> <!-- line break -->
        <h1 class="page-header"><small>Asi va la orden...</small></h1>
        <div id="empty_orden_alert" class="alert alert-warning g-margin-b-0" role="alert">La orden esta vacia! Debes agregar algun producto...</div>

        <table id="order_table" class="table table-hover" style="display: none">
            <thead>
              <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Serial</th>
                <th>Precio</th>
                <th class="text-center">Comision</th>
                <th class="text-center">Comentario</th>
                <th class="text-center"></th>
                <th></th>
              </tr>
            </thead>
            <tbody id="order_detail">
            </tbody>
        </table>
        <br> <!-- line break -->
        <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-8"></div><!-- /.col-lg-8 -->
            <div class="col-sm-9 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Resumen</b></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-5 no-bullet g-bold">
                            <li>Subtotal</li>
                            <li>Comisiones</li>
                            <li>Total</li>
                        </ul>
                        <ul class="list-5 no-bullet">
                            <li class="text-right">Bs. <span id="subtotal">0</span></li>
                            <li class="text-right">Bs. <span id="comission">0</span></li>
                            <li class="text-right">Bs. <span id="total">0</span></li>
                            <!-- Hidden inputs to send data -->
                            <%= f.text_field :subtotal, class: "hidden", value: "0", :required => true, readonly: readonly %>
                            <%= f.text_field :tax, class: "hidden", value: "0", :required => true, readonly: readonly %>
                            <%= f.text_field :comission, class: "hidden", value: "0", :required => true, readonly: readonly %>
                            <%= f.text_field :total, class: "hidden", value: "0", :required => true, readonly: readonly %>
                        </ul>
                    </div>
                </div>

                <%= button_tag(type: 'submit', id: "process_order" , class: "btn btn-success width-100 g-display-none") do %>
                    <i class="fa fa-shopping-cart"></i> Procesar orden
                <% end %>

            </div>
        </div>
    <% end %>

</div>