<% if action == 'index' %>
    <%= render 'sidebar' %>
<% end %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <% if action != 'show' %>
        <%= bootstrap_flash %>
    <% end %>
    <h2 class="page-header">Ordenes <span class="badge"><%= @orders_qty %></span></h2>
    <% if action != 'show' %>
        <div class="row">
        <%= form_tag(orders_path, :method => "get", id: "customers-search-form", role: "search") do %>
          <div class="col-lg-3">
            <div class="input-group width-100">
              <%= text_field_tag :search, params[:search], class: "form-control", value: params[:search], placeholder: 'Buscar orden o factura...' %>
            </div><!-- /input-group -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-2">
            <%= select_tag(:ordering, options_for_select( [ ['Mas reciente', "0"], ['Mas antiguo', "1"], ['Mayor monto', "2"], ['Menor monto', "3"] ], :selected => params[:ordering] ), { :class => 'form-control' } )  %> 
            </div><!-- /.col-lg-2 -->
            <div class="col-lg-1">
              <%= select_tag(:per_page, options_for_select([ ['20', "20"], ['50', "50"], ['75', "75"], ['100', "100"], ['150', "150"], ['200', "200"] ], :selected => params[:per_page] ), {:class => 'form-control'})  %> 
            </div><!-- /.col-lg-1 -->
        <% end %>
        <div class="col-lg-3"></div>
        <div class="col-lg-2">
          <div class="input-group width-100">
             <%= link_to '<button type="button" class="btn g-btn width-100">Nueva orden</button>'.html_safe, new_order_path() %>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-2 -->
        <div class="col-lg-1">
          <div class="dropdown width-100">
            <button class="btn g-g-btn dropdown-toggle width-100 type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              ...
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Exportar</a></li>
            </ul>
          </div>
        </div><!-- /.col-lg-1 -->
        </div>
        <br>
    <% end %>
    <% if !@orders.empty? %>
        <div class="row"></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th></th>
                    <th class="text-center">Fecha</th>
                    <th>Subtotal</th>
                    <th>Comisiones</th>
                    <th>IVA</th>
                    <th>Total</th>
                    <th class="text-center">Factura</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                    <tr>
                        <td><%= link_to order.id, order_path(order.id) %></td>
                        <td><%= link_to order.customer.name, customer_path(order.customer_id) %></td>
                        <td class="text-center"><span class="label <%= order.paid == 1 ? 'label-success' : 'label-warning' %>"><%= order.name %></span></td>
                        <td class="text-center"><%= order.created_at.strftime("%d-%m-%Y - %I:%m %p") %></td>
                        <td><%= number_to_currency(order.subtotal, unit: "Bs. ", separator: ",", delimiter: ".") %></td>
                        <td><%= number_to_currency(order.comission, unit: "Bs. ", separator: ",", delimiter: ".") %></td>
                        <td><%= number_to_currency(order.tax, unit: "Bs. ", separator: ",", delimiter: ".") %></td>
                        <td><%= number_to_currency(order.total, unit: "Bs. ", separator: ",", delimiter: ".") %></td>
                        <td class="text-center"><%= order.invoice.present? ? order.invoice : '-' %></td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><%= link_to 'Ver detalle', order %></li>
                                    <li><%= link_to 'Editar', edit_order_path(order) %></li>
                                    <li><%= link_to 'Eliminar', order, method: :delete, data: { confirm: '¿Seguro que deseas eliminar la orden ' + order.id.to_s + '?' } %></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="text-center">
            <%= will_paginate @orders, :param_name => 'orders_page', renderer: BootstrapPagination::Rails %>  
        </div>
    <% else %>
        <div class="alert alert-warning g-margin-b-0" role="alert">Este cliente aun no tiene ordenes...</div>
    <% end %>
</div>