<%= render 'sidebar' %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <%= bootstrap_flash %>
  <h2 class="page-header">Inventario de productos</h2>
  <div class="row">
    <%= form_tag(products_path, :method => "get", id: "products-search-form", role: "search") do %>
      <div class="col-lg-3">
        <div class="input-group width-100">
          <%= text_field_tag :search, params[:search], class: "form-control width-100", value: params[:search], placeholder: "Buscar producto..." %>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-2">
        <%= select_tag(:filtering, options_for_select([ ['Mas reciente', "0"], ['Mas antiguo', "1"], ['Nombre A-Z', "2"], ['Nombre Z-A', "3"], ['Con inventario ', "4"], ['Sin inventario', "5"] ], :selected => params[:filtering] ), {:class => 'form-control'})  %> 
      </div><!-- /.col-lg-2 -->
    <% end %>
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
      <div class="input-group width-100">
         <%= link_to '<button type="button" class="btn g-btn width-100">Nuevo producto</button>'.html_safe, new_product_path() %>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-2 -->
    <div class="col-lg-1">
      <div class="dropdown width-100">
        <button class="btn g-g-btn dropdown-toggle width-100 type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          ...
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Importar</a></li>
          <li><a href="#">Exportar</a></li>
        </ul>
      </div>
    </div><!-- /.col-lg-1 -->
  </div>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th class="text-center">Stock</td>
        <th>Precio</th>
        <th class="text-center">Publicado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr <%= product.count == 0 && product.published == true ? 'class="danger" data-toggle="tooltip" data-placement="top" title="¡Este producto no tiene inventario disponible y esta publicado!"'.html_safe : '' %>>
          <td><%= link_to product.id, product %></td>
          <td><%= product.name %></td>
          <td class="text-center"><%= product.count %></td>
          <td><%= number_to_currency(product.current_price.price, unit: "Bs. ", separator: ",", delimiter: ".") %></td>
          <td class="text-center"><%= product.published == true ? '<i class="fa fa-check g-success"></i>'.html_safe : '<i class="fa fa-times g-danger"></i>'.html_safe %></td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-gear"></i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Ver detalle', product %><li>
                <li><%= link_to 'Editar', edit_product_path(product) %></li>
                <li><%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Seguro que deseas eliminar a ' + product.name + '?' } %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>